In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [13]:
URL = "https://quotes.toscrape.com/"
response = requests.get(URL)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    
else:
    print("Failed to fetch page:", response.status_code)

In [29]:
quote_list = []

for q in quotes:
    quote = q.find("span", class_="text").text
    author = q.find("small", class_="author").text
    
    quote_list.append({
        "Quote": quote,
        "Author": author
    })

print(quote_list)

[{'Quote': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”', 'Author': 'Albert Einstein'}, {'Quote': '“It is our choices, Harry, that show what we truly are, far more than our abilities.”', 'Author': 'J.K. Rowling'}, {'Quote': '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”', 'Author': 'Albert Einstein'}, {'Quote': '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”', 'Author': 'Jane Austen'}, {'Quote': "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”", 'Author': 'Marilyn Monroe'}, {'Quote': '“Try not to become a man of success. Rather become a man of value.”', 'Author': 'Albert Einstein'}, {'Quote': '“It is better to be hated for what you are than to be loved for what you are not.”', 'Author': 'André Gide'}, {'Quote': "“I have not failed. I've just found 10,000 ways that won't work.”", 'Author': 'Thomas A. Edison'}, {'Quote': "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”", 'Author': 'Eleanor Roosevelt'}, {'Quote': '“A day without sunshine is like, you know, night.”', 'Author': 'Steve Martin'}]

In [30]:
data = pd.DataFrame(quote_list)

In [32]:
data.head()

                                               Quote           Author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe